{% extends 'myapp/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Appointment Details</h1>
        <div class="box">
            <div class="columns">
                <div class="column is-half">
                    <h2 class="subtitle">Appointment Information</h2>
                    <p><strong>Doctor:</strong> {{ appointment.doctor }}</p>
                    <p><strong>Patient:</strong> {{ appointment.patient }}</p>
                    <p><strong>Date:</strong> {{ appointment.date }}</p>
                    <p><strong>Time:</strong> {{ appointment.time }}</p>
                    <p><strong>Status:</strong> {{ appointment.get_status_display }}</p>
                    <p><strong>Visit Details:</strong> {{ appointment.visit_details }}</p>
                </div>
                <div class="column is-half">
                    <h2 class="subtitle">Prescription</h2>
                    {% if appointment.prescription %}
                    <a class="button is-primary" href="{{ appointment.prescription.url }}" download>Download
                        Prescription</a>
                    {% else %}
                    <p>No prescription available.</p>
                    {% endif %}
                </div>
            </div>
            <a class="button is-info" href="{% url 'appointments' %}">Back to Appointments</a>
        </div>
    </div>
</section>
{% endblock %}