{% extends "myapp/base.html" %}

{% block title %}Doctor Dashboard{% endblock %}

{% block content %}
<h2 class="title">Doctor Dashboard</h2>
<h3 class="subtitle">Appointments</h3>
<table class="table is-fullwidth is-striped">
    <thead>
        <tr>
            <th>Patient</th>
            <th>Date</th>
            <th>Time</th>
            <th>Status</th>
            <th>Rating</th>
            <th>Prescription</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
        <tr>
            <td>{{ appointment.patient.user.username }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.status }}</td>
            <td>{{ appointment.rating }}</td>
            <td>
                {% if appointment.prescription_file %}
                    <a class="button is-small is-link" href="{% url 'download_prescription' appointment.prescription.id %}">Download</a>
                {% endif %}
            </td>
            
            <td>
                {% if appointment.status == 'completed' %}
                    <a class="button is-small is-primary" href="{% url 'upload_prescription' appointment.id %}">Add Prescription</a>
                {% elif appointment.status == 'pending' %}
                    <form action="{% url 'update_status' appointment.id %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <div class="select">
                            <select name="status" onchange="this.form.submit()">
                                <option value="">Change Status</option>
                                <option value="completed" {% if appointment.status == 'completed' %}selected{% endif %}>Completed</option>
                                <option value="canceled" {% if appointment.status == 'canceled' %}selected{% endif %}>Canceled</option>
                            </select>
                        </div>
                    </form>
                {% endif %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">No appointments available.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
