{% extends 'myapp/base.html' %}

{% block content %}
<section class="section">
    <div class="container">
        <h1 class="title">Upload Prescription</h1>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="field">
                <div class="control">
                    <button type="submit" class="button is-primary">Upload Prescription</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}
